streamlit
absl-py
astunparse
blinker
certifi
charset-normalizer
click
Flask
flask-cors
flatbuffers
gast
google-pasta
grpcio
h5py
idna
itsdangerous
Jinja2
joblib
keras==3.4.1
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml_dtypes
numpy>=2.1
opt-einsum
pandas
pillow
protobuf
Pygments
python-dateutil
pytz
requests
rich
scikit-learn==1.5.0
scipy==1.13.0
six
smart-open
termcolor
threadpoolctl
typing_extensions
tzdata
urllib3
Werkzeug
wrapt
xgboost==2.0.3
