absl-py==2.1.0
astunparse==1.6.3
blinker==1.8.2
certifi
charset-normalizer
click==8.1.7
Flask==3.0.3
flask-cors==4.0.1
flatbuffers==24.3.25
gast==0.6.0
google-pasta==0.2.0
grpcio==1.60.0
h5py==3.11.0
idna
itsdangerous==2.1.2
Jinja2==3.1.4
joblib==1.4.2
keras==2.14.0
libclang==16.0.6
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
ml_dtypes==0.4.0
numpy==1.26.4
opt-einsum==3.3.0
packaging
pandas==2.2.2
pillow==10.3.0
protobuf==4.25.3
Pygments==2.17.2
python-dateutil==2.9.0.post0
pytz
requests
rich==13.7.1
scikit-learn==1.4.2
scipy==1.11.4
six==1.16.0
smart-open==6.4.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
tensorflow==2.14.0
termcolor==2.4.0
threadpoolctl==3.5.0
typing_extensions
tzdata
urllib3
Werkzeug==3.0.3
wrapt==1.15.0
xgboost==2.0.3
